<section class="flex-sect">
  <div class="container-width">
    <div class="flex-title">Ness Library
    </div>
    <div class="cards" *ngIf='filteredBooks  && filteredBooks.length'>
      <div class="card" *ngFor='let book of filteredBooks'>
        <div class="card-header">
            <img class="card-img" src={{book.imageURL}} alt={{book.title}}>
        </div>
        <div class="card-body">
          <div class="card-title">{{book.title}} 
          </div>
          <div class="card-desc">{{book.description}}
          </div>
          <a [routerLink]="['/books', book.id]" class="btn btn-outline-success">View</a>
        </div>
      </div>
    </div>
  </div>
</section>