<div class="body">
  <label >User Name</label>
  <label >{{user.username}}</label>
</div>
  
<div class="body">
  <label >User Email</label>
  <label >{{user.useremail}}</label>
</div>
  
<div class="body">
  <label >User Password</label>
  <label >{{user.password}}</label>
</div>
  
<div class="body">
  <label >User Role</label>
  <label >{{user.role}}</label>
</div>
  
<button class="btn btn-outline-success" (click)="edit()">edit</button>
<button class="btn btn-outline-success" (click)="deleteBook()">delete</button>  