<h1  style = "text-align: center;"  class="card-header">Book Addition Page</h1>

    <table class="d-table">
        <tr>
            <td>Book ID : </td>
            <td><input type="text" class="text"/></td>
        </tr>
        <tr>
                <td>Book Name : </td>
                <td><input type="text" class="text"/></td>
        </tr>
        <tr>
                <td>Book Description : </td>
                <td><input type="text" class="text"/></td>
        </tr>   
        <tr>
                <td>ISBN : </td>
                <td><input type="text" class="text"/></td>    
        </tr>
        <tr>
                <td>Author : </td>
                <td><input type="text" class="text"/></td>    
        </tr> 
        <tr>
                <td>Title : </td>
                <td><input type="text" class="text"/></td>    
        </tr>
        <tr>
                <td>Publisher : </td>
                <td><input type="text" class="text"/></td>    
        </tr> 
        <tr>
                <td>Year of Publication : </td>
                <td><input type="text" class="text"/></td>    
        </tr>
        <tr>
                <td>Location : </td>
                <td><input type="text" class="text"/></td>    
        </tr> 
        <tr>
                <td>No of Copies : </td>
                <td><input type="text" class="text"/></td>    
        </tr>
        <tr>
                <td>Current Status : </td>
                <td><input type="text" class="text"/></td>    
        </tr>
    </table>

    <input type="submit" class="btn-submit" value="Add Books"/>