<table class="table">
  <tr>
    <td>
      <h3>
        User Name
      </h3>
    </td>
    <td>
      <h3>
        User Email
      </h3>
    </td>

    <td>
      <h3>
        User Role
      </h3>
    </td>
    <td>
        <h3>
          View
        </h3>
      </td>
  </tr>
  <tr *ngFor='let user of filteredUsers'>
    <td> {{ user.username }} </td>
    <td> {{ user.useremail }} </td>
    <td> {{ user.role }} </td>
    <td>
    <a [routerLink]="['/users', user.id]" class="btn btn-outline-success">View</a>
  </td>
  </tr>

</table>